* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- header css starts ----------*/

.header-container {
    width: 90%;
    height: 550px;
    margin: 50px auto;
    background-color: midnightblue;
    border-radius: 30px;
}

.website-poster {
    display: flex;
    height: 550px;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    padding: 70px;
}

.poster-text {
    width: 50%;
}

.poster-image {
    width: 50%;
}

.poster-text h1 {
    color: aqua;
    font-size: 3.5rem;
}

.poster-text p {
    color: aqua;
    font-size: 1rem;
    padding-top: 30px;
}

.poster-text input {
    padding: 15px 40px;
    background-color: deeppink;
    margin-top: 40px;
    border-radius: 7px;
    font-size: 1.2rem;
    color: yellow;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.poster-text input:hover {
    background-color: cyan;
    color: indigo;
}

.poster-image img {
    width: 100%;
    height: 34.5rem;
    padding-top: 35px;
}